<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>TeamUp</title>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3>Let's TeamUP</h3>
      </div>
      <div id="createEvent" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Create Event</div>
          </div>
          <div class="panel-body">
            <form id="createEventForm" role="form" method="post" action="/register" class="form-horizontal">
              <console sign up class="log">
                <div id="createEventalert" style="display:none" class="alert alert-danger">
                  <p>Error:</p><span></span>
                </div>
                <div class="form-group">
                  <label for="email" class="col-md-3 control-label">Email</label>
                  <div class="col-md-9">
                    <input type="text" name="email" placeholder="Email Address" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstname" class="col-md-3 control-label">First Name</label>
                  <div class="col-md-9">
                    <input type="text" name="firstname" placeholder="First Name" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastname" class="col-md-3 control-label">Last Name</label>
                  <div class="col-md-9">
                    <input type="text" name="lastname" placeholder="Last Name" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-md-3 control-label">Password</label>
                  <div class="col-md-9">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="aboutMe" class="col-md-3 control-label">About Me:</label>
                  <div class="col-md-9">
                    <input type="text" name="aboutMe" placeholder="Enter something about yourself" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <!-- Button-->
                  <div class="col-md-offset-3 col-md-9">
                    <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>&nbsp Sign Up</button><span style="margin-left:8px;"></span>
                  </div>
                </div>
              </console>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>